/*******************
 * check and radio *
 *******************/
/* draw regular check and radio items using our assets */

.check,
.view.cell.check {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"));
	background-image: url("assets/checkbox-unchecked.png");
	background-repeat: no-repeat;
	background-position: center;
}

.check:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"));
	background-image: url("assets/checkbox-unchecked-insensitive.png");
}

.check row:insensitive {
	background-color: transparent;
}

.check:active,
.check:checked,
.view.cell.check:active,
.view.cell.check:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"));
	background-image: url("assets/checkbox-checked.png");
}

.check:active:insensitive,
.check:checked:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"));
	background-image: url("assets/checkbox-checked-insensitive.png");
}

.check:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-checked.png"));
	background-image: url("assets/checkbox-mixed-checked.png");
}

.check:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-checked-insensitive.png"));
	background-image: url("assets/checkbox-mixed-checked-insensitive.png");
}

.radio,
.view.cell.radio {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.png"));
	background-image: url("assets/radio-unselected.png");
	background-repeat: no-repeat;
	background-position: center;
}

.radio:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-insensitive.png"));
	background-image: url("assets/radio-unselected-insensitive.png");
}

.radio row:insensitive {
	background-color: transparent;
}

.radio:active,
.view.cell.radio:active,
.radio:checked,
.view.cell.radio:checked {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-selected.png"));
	background-image: url("assets/radio-selected.png");
}

.radio:active:insensitive,
.radio:checked:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-selected-insensitive.png"));
	background-image: url("assets/radio-selected-insensitive.png");
}

.radio:inconsistent {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-selected.png"));
	background-image: url("assets/radio-mixed-selected.png");
}

.radio:inconsistent:insensitive {
	-gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-selected-insensitive.png"));
	background-image: url("assets/radio-mixed-selected-insensitive.png");
}

.sidebar .view.radio:active,
.sidebar .view.radio:active:focus,
.sidebar .view.radio:active:hover,
.sidebar .view.radio:checked,
.sidebar .view.radio:checked:focus,
.sidebar .view.radio:checked:hover {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-selected.svg"));
	background-image: url("assets/sidebar-radio-selected.svg");
}

.sidebar .view.radio:hover {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-prelight.svg"));
	background-image: url("assets/sidebar-radio-prelight.svg");
}

.sidebar .view.radio:active:selected,
.sidebar .view.radio:active:selected:focus,
.sidebar .view.radio:checked:selected,
.sidebar .view.radio:checked:selected:focus {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-selected.svg"));
	background-image: url("assets/sidebar-radio-selected.svg");
}

.sidebar .view.radio:selected:hover,
.sidebar .view.radio:selected:focus {
	-gtk-icon-source: -gtk-scaled(url("assets/sidebar-radio-selected-prelight.svg"));
	background-image: url("assets/sidebar-radio-selected-prelight.svg");
}
