/* 
	AUTHOR: Max Fierke (m4xm4n)
	WEBSITE: http://m4xm4n.deviantart.com
	         https://github.com/maxfierke/bleufear
	LICENSE: GPL
	DESCRIPTION: A dark theme with a wild streak of electric blue.
*/

/* default color scheme */
@define-color bg_color #292929;
@define-color fg_color #eeeeee;
@define-color base_color #363636;
@define-color text_color #eeeeee;
@define-color selected_bg_color #0390c4;
@define-color selected_fg_color #eeeeee;
@define-color tooltip_bg_color #343434;
@define-color tooltip_fg_color #eeeeee;

/* other color schemes could simply override these */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #08c;
@define-color error_color #cc0000;

/* theme common colors */
@define-color button_bg_color shade (#363636, 1.10);
@define-color button_insensitive_bg_color mix (@button_bg_color, @bg_color, 0.6);
@define-color dark_bg_color #272727;
@define-color dark_fg_color #eeeeee;
@define-color transparent rgba (0, 0, 0, 0);

@define-color backdrop_selected_bg_color shade (@theme_selected_bg_color, 1.12);
@define-color backdrop_selected_fg_color @theme_selected_fg_color;

/* BleuFear colors */
@define-color toolbar_gradient_base #363636;
@define-color toolbar_gradient_final #272727;
@define-color toolbar_border #313131;

@define-color theme_border_color_a #232323;
@define-color theme_border_color_b #191919;

/* WM colors */
@define-color wm_title @theme_fg_color;
@define-color wm_highlight shade (@theme_bg_color, 1.2);
@define-color wm_title_highlight shade (@theme_bg_color, 1.2);

@define-color wm_bg_a shade (@theme_bg_color, 1.1);
@define-color wm_bg_b @theme_bg_color;

@import url("gtk-widgets.css");
@import url("apps/gedit.css");
@import url("apps/gnome-panel.css");
@import url("apps/gnome-terminal.css");
@import url("apps/nautilus.css");
@import url("apps/unity.css");
@import url("apps/unity-greeter.css");
@import url("apps/popover.css");
@import url("apps/epiphany.css");
