.lightdm.menu {
    background-image: none;
    background-color: alpha (@theme_bg_color, 0.6);
    border-color: alpha (@theme_fg_color, 0.2);
    border-radius: 4px;
    padding: 1px;

    color: @theme_fg_color;

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0;
    -unico-glow-radius: 0;
    -unico-outer-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

.lightdm.menu .menuitem *,
.lightdm.menu .menuitem.check:active,
.lightdm.menu .menuitem.radio:active {
    color: white;

    -unico-bullet-color: @theme_fg_color;
}

.lightdm.menubar {
    background-image: none;
    background-color: alpha (@theme_bg_color, 0.5);
}

.lightdm.button,
.lightdm.entry {
    background-image: none;
    background-color: alpha (@theme_bg_color, 0.3);
    border-color: alpha (@theme_fg_color, 0.6);
    border-radius: 4px;
    padding: 7px;

    color: @theme_fg_color;
    text-shadow: none;

    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 0;
    -unico-glow-radius: 0;
    -unico-outer-stroke-color: alpha (@theme_fg_color, 0.1);
    -unico-outer-stroke-gradient: none;
    -unico-outer-stroke-width: 1px;
    -unico-focus-border-color: alpha (@theme_fg_color, 0.5);
}

.lightdm.button:focused *,
.lightdm.button:selected *,
.lightdm.button:selected:focused *,
.lightdm.entry:focused *,
.lightdm.entry:selected *,
.lightdm.entry:selected:focused * {
    border-color: alpha (@theme_fg_color, 0.9);

    color: @theme_fg_color;

    -unico-outer-stroke-color: alpha (@theme_fg_color, 0.15);
}
